* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Figtree;
}
:root {
  --Yellow: hsl(47, 88%, 63%);
  --White: hsl(0, 0%, 100%);
  --Gray-500: hsl(0, 0%, 42%);
  --Gray-950: hsl(0, 0%, 7%);
}
html {
  scroll-behavior: smooth;
}
body {
  background-color: var(--Yellow);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
}
.blog_container {
  background-color: var(--White);
  /* width: 30px; */
  padding: 1.3rem;
  border-radius: 1.3rem;
  border: 1px solid var(--Gray-950);
  display: flex;
  flex-direction: column;
  gap: 1rem;
  box-shadow: 10px 10px 0px var(--Gray-950);
}

.section_one img {
  border-radius: 0.7rem;
  width: 100%;
}
.section_one button {
  display: block;
  margin-top: 1rem;
  padding: 0.5rem 0.8rem;
  font-family: Figtree;
  font-weight: bold;
  background-color: var(--Yellow);
  border: none;
  border-radius: 0.4rem;
  margin-bottom: 1rem;
}
.section_two {
  width: 350px;
  display: flex;
  flex-direction: column;
}
.section_two p:first-child {
  font-weight: bold;
  font-size: 1.4rem;
  color: var(--Gray-950);
  margin-bottom: 1rem;
  cursor: pointer;
}
.section_two p:first-child:hover {
  color: var(--Yellow);
  cursor: pointer;
}
.section_two p:nth-child(2) {
  line-height: 1.6rem;
  color: var(--Gray-500);
}
.avatar {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-top: 1rem;
}
.avatar img {
  width: 30px;
}
.avatar p:nth-child(2) {
  font-weight: bold;
  color: var(--Gray-950);
}
