* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  --White: hsl(0, 0%, 100%);
  --Slate-300: hsl(212, 45%, 89%);
  --Slate-500: hsl(216, 15%, 48%);
  --Slate-900: hsl(218, 44%, 22%);
  --Slate-1200: hsla(216, 15%, 48%, 0.5);
}
body > div {
  display: flex;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: var(--Slate-300);
}
html {
  scroll-behavior: smooth;
}
.qr-code-container {
  width: 300px;
  background-color: var(--White);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 13px;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0px 7px 18px var(--Slate-1200);
}
.qr-code-container div:last-child {
  width: 85%;
  margin-top: 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
img {
  width: 100%;
  border-radius: 5px;
}
h4 {
  font-family: outfit;
  font-size: 18px;
  color: var(--Slate-900);
}
p {
  font-size: 15px;
  font-family: outfit;
  margin-bottom: 15px;
  color: var(--Slate-500);
}
